:root {
    --color: #5A295B;
    --padding: 3px;


}

.body {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.new1,
.new2 {
    border: 5px solid #5A295B;
    width: 25%;
    height: 1px;
    background-color: #5A295B;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.app-name {
    color: var(--color);
    /* text-align: center; */
    font-weight: 700;
    font-size: 250;

}

.calculator {
    border: #5A295B solid 5px;
    border-radius: 20px;
    padding: 20px;
    width: 378px;
    height: 506px;
    margin: 0 auto;


}

/*  */

.buttons {
    width: 100%;

}

.element,
.element1,
.element2,
.element3,
.element4,
.element5 {
    color: aliceblue;
    background-color: #9E14A0;
    border: #9E14A0 solid 2px;
    border-radius: 5px;
    width: 65px;
    height: 65px;
    /* display: flex; */

}

button.element2 {

    width: 150px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 36px;

}

.res {
    border: #5A295B solid 2px;
    background-color: #5A295B;
    color: aliceblue;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 36px;


}

.result {
    display: flex;
    width: 349px;
    height: 135px;
    /* padding: var(--padding); */
    margin-bottom: 5px;
    border: solid #5A295B 3px;
    background-color: #5A295B;

}

.reslt-input {
    display: flex;
    justify-content: center;
    background-color: #5A295B;
    color: white;

}

.row {
    display: flex;
    justify-content: space-between;
}

.rowbuttom {
    flex-direction: row;
    justify-content: space-between;

}

button {
    width: 10%;
    padding: 2px;
    font-size: 18px;
    margin-bottom: 2px;
}

.num1,
.num2,
.num3,
.num4,
.num5,
.num6,
.num7,
.num8,
.num9,
.num0,
.dot,
.element5 {
    background-color: #F0D8F0;
    border: #F0D8F0 solid 3px;
    color: #9E14A0;
    font-weight: bold;
    border-radius: 5px;
    width: 65px;
    height: 65px;
}