body{
    
    display: flex;
    /* padding: 10px; */
    justify-content: center;
    color: #9398B2;
    background-color: #2D2446;
    text-align: center;
    font-size: 16px;
}
div.dark-space{
    background-color:#F4F0F5;
    width:1000px;
    height:600px ;
    /* padding: 15px; */
    
    
    
}
div.form{
    background-color: #FFFFFF;
    width: 400px;
    height: 85%;
    border: 5px  ;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}
p.p2{
    background-color: #F9F5FD;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding: 10px;
    

}

button{
    color: #FFFFFF;
    background-color: #B4005C;
    border-color: #B4005C;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
}
h2{
    color: #9398B2;
}
img{
    border-radius: 60px ;
    background: transparent;
    border: #9398B2 solid 3px; 
    width: 100px;
    height: 100px;

}
input{
    position: relative;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    
}
p.p3{
    display: flex;
   justify-content: flex-start;
   margin-left: 15px;
}
p.p4{
    justify-content: flex-start;
    margin-right: 25px;
}
a{
    
    text-decoration:none ;
    text-align: center;
    font-size: 16px;
    color: #B4005C;
}
a:hover{
    text-decoration: underline;
}
div.check{
    display: flex;
    color: black;
    justify-self: center;
    padding: 2px;
    
}
input.checkbox{
    width: 25px;
    height: 25px;
    margin-left: 15px;
}
.acc{
    text-align: center;
}
.btn.btn0{
   display: flex;
   justify-content: center;

}
/* invoice */

.background{
    color: #2D2446;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-areas:"overlap";
}
.pink-shade{
    height: 150px;
    width: 200px;
    background-color: #B4005C;
    border-radius: 5px;
    grid-area: "overlap";
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.your-plan{
    width: 250px;
    height: 150px;
    background-color: #2d215ccc;
    border-radius: 5px;
    padding: 30px;
    grid-area: "overlap";

}
.invoice-history{
    width: 280px;
    height: 250px;
    background-color: #9398B2;
    border-radius: 5px;
    padding: 10px;
    grid-area: "overlap";
}
.invoice-summary{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.btn{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    justify-content: center;
    margin: 5px;
    align-self: center;
    
}
.btn.btn1{
    color: white;
   
    
}
.btn.btn2{
    color: #9398B2;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}
